:root {
    --primary: #5662F6;
}
  
body {
    background-color: #f2f2f2 !important;
    font-weight: 400;
    font-family: 'Mulish', sans-serif !important;
}

footer {
    position: relative;
    top: 0;
    color: #222;
    font-weight: 400;
    font-family: 'Mulish', sans-serif;
}

.navbar-custom {
    background-color: #f2f2f2;
}

a {
    text-decoration: none !important;
}

.wrapper {
    display: inline-flex;
    list-style: none;
  }
  
  .wrapper .icon {
    position: relative;
    background: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .wrapper .email:hover,
  .wrapper .email:hover .tooltip,
  .wrapper .email:hover .tooltip::before {
    background: #1877F2;
    color: #ffffff;
  }
  
  .wrapper .telegram:hover,
  .wrapper .telegram:hover .tooltip,
  .wrapper .telegram:hover .tooltip::before {
    background: #1DA1F2;
    color: #ffffff;
  }
  
  .wrapper .discord:hover,
  .wrapper .discord:hover .tooltip,
  .wrapper .discord:hover .tooltip::before {
    background: #5662F6;
    color: #ffffff;
  }
  
  .wrapper .github:hover,
  .wrapper .github:hover .tooltip,
  .wrapper .github:hover .tooltip::before {
    background: #333333;
    color: #ffffff;
  }
  
  .wrapper .youtube:hover,
  .wrapper .youtube:hover .tooltip,
  .wrapper .youtube:hover .tooltip::before {
    background: #CD201F;
    color: #ffffff;
  }
  

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600 !important;
}

.btn:hover {
    transition : 0.4s;
    box-shadow : 0px 0px 1px 7px rgba(255, 140, 0, 0.644);
    cursor : pointer;
}

h1 {
    font-weight: 700 !important;
}

.select {
    color: var(--primary);
}

.gradient {
    background: radial-gradient(circle, #ED0000, #FF9D5B, #FFC530, #FF6A00);
	background-size: 300% 300%;
	animation: gradient 70s ease infinite;
}

nav a {
    font-weight: 600 !important;
    font-size: 18px !important;
}

.parallax {
    background-image: url("/static/img/coding.png");
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(1.2px);
}

.jumbotron.title {
    color: #f2f2f2 !important;
    padding: 100px;
    text-align: center;
}

.jumbotron.title p {
    font-size: 20px !important;
}

.jumbotron.title .btn {
    box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.2);
}

::selection {
    background: var(--primary);
    color: #f2f2f2;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.block2 {
    text-align: center;
    margin-top: 100px;
}

body {
    position: relative;
  }

.block2 ul {
    text-align: left !important;
}

.block2 .card2 {
    margin: 30px auto;
    float: none;
    margin-bottom: 50px;
    width: 400px;
}

.block2 h1 {
    font-size: 54px;
}

.block2 h2 {
    font-size: 28px;
}

.block2 p {
    font-size: 20px;
}

.ymenia {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ymenia p {
  font-size: 3rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}
.ymenia p span.typed-text {
  font-weight: normal;
  color: #f2f2f2;
}
.ymenia p span.cursor {
  display: inline-block;
  background-color: #f2f2f2;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.ymenia p span.cursor.typing {
  animation: none;
}

@keyframes blink {
  0%  { background-color: #f2f2f2; }
  49% { background-color: #f2f2f2; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #f2f2f2; }
}
