.scroll-down-button {
    width: 40px;
    height: 70px;
    background: transparent;

    position: relative;
    bottom: 25px;
    left: calc(50% - 20px);
    
    border: #f2f2f2 solid 5px;
    border-radius: 25px;
    transition: all 0.3s;
}

.scroll-down-button::after {
    content: " ";
    width: 10px;
    height: 10px;
    background-color: #f2f2f2;
    position: absolute;
    border-radius: 50%;
    top: 10px;

    left: calc(67% - 10px);

    animation: scroll-down-button-piece-animation 1.2s ease-in-out infinite;
    transition: all 0.3s;
}

@keyframes scroll-down-button-piece-animation {
    0%, 100% {
        top: 10px;
        opacity: 0;
    }
    40%, 50% {
        opacity: 1;

    }
    10% {
        top: 10px;
    }
    50% {
        opacity: 1;
    }
    80% {
        top: calc(100% - 10px - 20px);
        opacity: 0;
    }
}

.scroll-down-button::before {
    content: " ";

    width: 40px;
    height: 70px;
    background: transparent;

    position: absolute;
    top: -5px;
    left: -5px;
    
    border: #f2f2f2 solid 5px;
    border-radius: 25px;

    animation: scroll-down-button-animation 1.5s ease-in-out infinite;
    transition: all 0.3s;
}

@keyframes scroll-down-button-animation {
    0% ,100% {
        transform: scale(1);
        opacity: 0;
        width: 40px;
    }
    1% {
        opacity: 0.4;
        width: 40px;
    }
    60% {
        transform: scale(1.5);
        opacity: 0;
        width: 50px;
        left: -10px;
    }
}

.scroll-down-button:hover::before {
    border-color: transparent;
    animation-play-state: paused;
}

.scroll-down-button:hover::after {
    background-color: transparent;
    animation-play-state: paused;
    top: calc(100% - 10px - 20px);
}

.scroll-down-button:hover {
    bottom: 15px;
    background-image: url(/static/img/down-arrow.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
